#X{
    background-color: grey;
    border: 1px solid black;
    top: 10%;
    width: 500px;
    height: 60px;
    margin-bottom: 10px;

}
#Y{
    background-color: yellow;
    border: 1px solid black;
    width: 500px;
    height: 60px;
    margin-bottom: 10px;

}
#Z{
    background-color: orange;
    border: 1px solid black;
    top: 10%;
    width: 500px;
    height: 60px;
    margin-bottom: 5px;

}